:root {
  --bg: rgba(246, 246, 246, 1);
  --text-gray-200: rgba(238, 239, 244, 1);
  --text-gray-100: rgba(244, 245, 247, 1);
  --heading-font-family: "Inter-Bold", Helvetica;
  --heading-font-weight: 700;
  --heading-font-size: 32px;
  --heading-letter-spacing: 0.64px;
  --heading-line-height: normal;
  --heading-font-style: normal;
  --subheading-font-family: "Inter-Regular", Helvetica;
  --subheading-font-weight: 400;
  --subheading-font-size: 24px;
  --subheading-letter-spacing: 1.2px;
  --subheading-line-height: 150%;
  --subheading-font-style: normal;
  --heading-2-font-family: "Inter-Bold", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 24px;
  --heading-2-letter-spacing: 0.48px;
  --heading-2-line-height: 130.02272844314575%;
  --heading-2-font-style: normal;
  --subheading-2-font-family: "Inter-Regular", Helvetica;
  --subheading-2-font-weight: 400;
  --subheading-2-font-size: 20px;
  --subheading-2-letter-spacing: 1px;
  --subheading-2-line-height: 150%;
  --subheading-2-font-style: normal;
  --heading-hero-font-family: "Inter-Bold", Helvetica;
  --heading-hero-font-weight: 700;
  --heading-hero-font-size: 34px;
  --heading-hero-letter-spacing: 0.96px;
  --heading-hero-line-height: normal;
  --heading-hero-font-style: normal;
  --body-body-2-font-family: "Inter-Regular", Helvetica;
  --body-body-2-font-weight: 400;
  --body-body-2-font-size: 14px;
  --body-body-2-letter-spacing: 0px;
  --body-body-2-line-height: 24px;
  --body-body-2-font-style: normal;
  --subtitle-subtitle-2-font-family: "Inter-Medium", Helvetica;
  --subtitle-subtitle-2-font-weight: 500;
  --subtitle-subtitle-2-font-size: 18px;
  --subtitle-subtitle-2-letter-spacing: 0px;
  --subtitle-subtitle-2-line-height: 28px;
  --subtitle-subtitle-2-font-style: normal;
  --shadow: 6px 16px 23px -11px rgba(199, 199, 199, 0.45);
}